*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #93C6E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    border: none;
    padding: 1rem;
}
.title {
    color: #13005A;
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

#container > button{
    flex:1 1 10rem;
    max-width: 30%;
}

button {
    background-color: #1C82AD;
    color: whitesmoke;
    border-radius: 10px;
    font-size: 2rem;
    border:none;
    padding: 10px 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
}
button:hover{
    opacity: 90%;
}

.lost{
    color: #dc3545;
    font-size: 2rem;
    font-weight: bold;
}
.tie{
    color:#1e9bf0 ;
    font-size: 2rem;
    font-weight: bold;
}
.win{
    color:#4E6C50;
    font-size: 2rem;
    font-weight: bold;
}